In [190]:
# !pip install pandas
# !pip install xgboost

In [191]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [250]:
# raw_data/UNIT_3_train.csv
def create_df(filename):
    df = pd.read_csv(filename, sep=';')
    # with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    #     print(df.head(20))
    # df['timestamp'] = pd.to_datetime(df['DATE_ID'])
    df_test = df.copy()
    df_test.index = pd.to_datetime(df_test['DATE_ID'])
    # df_test = df_test.drop(['DATE_ID'], axis=1)
    df_test.dropna(axis='columns',how='any', inplace=True)
    # df_test['min'] = df_test[min(df_test)]
    
    # df_test = df_test.drop(['PARAM_22' , 'PARAM_30', 'PARAM_31', 'PARAM_32', 'PARAM_33', 'PARAM_34'], axis=1)
    return df_test

def corr_matrix():
    correlation_matrix = df_test.corr()
    correlation_matrix = correlation_matrix[abs(correlation_matrix) > 0.7]
    # correlation_matrix = correlation_matrix[(abs(correlation_matrix['Y_0']) > 0.3) | (abs(correlation_matrix['Y_2']) > 0.3) | (abs(correlation_matrix['Y_5']) > 0.3)]
    correlation_matrix = correlation_matrix[correlation_matrix.columns.intersection(correlation_matrix.index)]
    sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
    plt.title('Корреляционная матрица')
    plt.show()
    # correlation_matrix
    df_test.iloc[:, -6:]

In [231]:


# df[['PARAM_2', 'PARAM_8']]

In [261]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor, MLPClassifier
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, mean_absolute_percentage_error
from sklearn.linear_model import Ridge

def train(df, ready_model=None):
    X = df.iloc[:, :-6]
    # X = np.array([[f'sin_{i}', f'cos_{i}'] for i in range(1, K+1)])
    # print(X, np.size(X))
    # X = list(X.reshape(np.size(X),))
    # X.append('ones')
    # X = df[X]
    # print(X.head(15))
    y = df['Y_5']
    
    # Разделяем данные на обучающую и тестовую выборки
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    # print(X_test)
    
    if ready_model:
        # print('model', ready_model)
        model = ready_model
    # else: model = MLPRegressor(activation='relu')
    # else: model = LinearRegression()
    else: model = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=3000)
    # Обучаем модель
    model.fit(X_train, y_train, verbose=False)
    
    # yhat = reg.predict(X_test)
    # Делаем предсказания на тестовой выборке
    y_pred = model.predict(X_test)

    predictions_class = (y_pred >= 0.3).astype(int)
    print('pred_class\n',predictions_class, '\n', y_test)
    # Оценка
    # accuracy = (predictions_class == y_test).mean()
    # print(f'Оценка на Y {accuracy}')
    
    # Оцениваем модель
    mae = mean_absolute_error(y_test, y_pred)
    print(f"Mean absolute Error: {mae}")

    r2 = r2_score(y_test, predictions_class)
    print(f"r2: {r2}")

    mse = mean_squared_error(y_test, y_pred)
    print(f"mse: {mse}")

    mape = mean_absolute_percentage_error(y_test, y_pred)
    print(f"mape: {mape}")

    # print(y_test, '\n', y_pred)
    
    # Для интерпретации коэффициентов модели
    # coefficients = model.coef_
    # intercept = model.intercept_
    # print(f"Coefficients: {coefficients}")
    # print(f"Intercept: {intercept}")
    return model, r2

In [260]:
from pathlib import Path

model = None
p = Path("raw_data/test_data")
n = 0
n_max = 10
r2_sum = 0
for x in p.rglob("*"):
    if str(x)[-3:] == 'csv' and len(str(x)) < 50 and n < n_max:
        df_test = create_df(str(x))
        print(df_test.shape)
        model, r2 = train(df_test, model)
        test_x = pd.DataFrame(df_test.iloc[39, :-6]).T
        # print(model.predict(test_x))
        # print(pd.DataFrame(df_test.iloc[39, -1:]).T)
        n+=1
        r2_sum += r2
print(r2_sum/n_max)

(89, 45)
pred_class
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.0
r2: 1.0
mse: 0.0
mape: 0.0
(89, 44)
pred_class
 [0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    1
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    1
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.10044471895172238
r2: -0.125
mse: 0.07104462440610582
mape: 252447953644657.84
(89, 44)
pred_class
 [0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]
 DATE_ID
1970-01-01 00:00:00.000000044    1
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    1
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.05672387806731018
r2: 0.4375
mse: 0.05557482707243141
mape: 5198755037184.056
(89, 44)
pred_class
 [1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1]
 DATE_ID
1970-01-01 00:00:00.000000044    1
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.10461362971556001
r2: -1.1176470588235294
mse: 0.06655139636885885
mape: 346355145212359.1
(89, 44)
pred_class
 [1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    1
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    1
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    1
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.27075903818230374
r2: -1.4
mse: 0.21722953381477303
mape: 577726614918485.5
(89, 44)
pred_class
 [0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    1
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    1
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    1
Name: Y_5, dtype: int64
Mean absolute Error: 0.046088443683806365
r2: 1.0
mse: 0.020004075878762406
mape: 21384514602780.484
(89, 44)
pred_class
 [0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    1
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.21479110922574465
r2: -4.294117647058823
mse: 0.16383524204036323
mape: 717834446014919.1
(89, 44)
pred_class
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    1
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.1071615264651579
r2: -1.1176470588235294
mse: 0.09827698072098022
mape: 263373563015623.16
(89, 42)
pred_class
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    0
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 3.120703331660479e-05
r2: 1.0
mse: 9.738789284236816e-10
mape: 140543983616.0
(89, 42)
pred_class
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
 DATE_ID
1970-01-01 00:00:00.000000044    0
1970-01-01 00:00:00.000000053    0
1970-01-01 00:00:00.000000030    0
1970-01-01 00:00:00.000000012    0
1970-01-01 00:00:00.000000049    1
1970-01-01 00:00:00.000000000    0
1970-01-01 00:00:00.000000064    0
1970-01-01 00:00:00.000000018    0
1970-01-01 00:00:00.000000010    0
1970-01-01 00:00:00.000000022    0
1970-01-01 00:00:00.000000004    0
1970-01-01 00:00:00.000000033    0
1970-01-01 00:00:00.000000042    0
1970-01-01 00:00:00.000000080    0
1970-01-01 00:00:00.000000081    0
1970-01-01 00:00:00.000000039    0
1970-01-01 00:00:00.000000077    0
1970-01-01 00:00:00.000000061    0
Name: Y_5, dtype: int64
Mean absolute Error: 0.08658232325979043
r2: -1.1176470588235294
mse: 0.05983841247210456
mape: 163955604025799.16